footer{
    
    @include medidas (100%, 15px);
    background-color: $fondo;
    font-weight: bolder;
    color: black;
    font-family: 'Merriweather', serif;
    margin-bottom: 0px;
}
.parrafoRedes{
    @include deco;
}