footer{
    /*
    display: flex;
    align-items: stretch;
    flex-direction: column;*/
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: pink;
    font-weight: bolder;
    color: black;
    font-family: 'Merriweather', serif;
    margin-bottom: 0;
}