header{
    @include medidas;
    color: mediumvioletred;
    background-color: pink;
    grid-area: header;

}
.nav-item{
    @include deco;
}
.pink{
    background-color:$fondo;
}

li{
    display: inline-block;
    display: flex;
    font-size: 19px;
    justify-content: flex-start;
}

.navbar-light{
    grid-area: navbar-light;
}
.navbar-brand{
    grid-area:navbar-brand;
}

