header{
    color: mediumvioletred;
    background-color: white;
    grid-area: header;
}
.nav-item{
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}
.pink{
    background-color:$fondo;
}
/*
.flex{
    display: flex;
 
}*/
li{
    display: inline-block;
    display: flex;
    font-size: 19px;
    justify-content: flex-start;
    /*font-weight: bolder;*/
}
